include pervane/*
include pervane/templates/*
include pervane/static/img/*
include pervane/static/img/**/*
include pervane/static/js/*
include pervane/static/js/**/*
include pervane/static/js/**/**/*
include pervane/static/js/**/**/**/*
include pervane/static/js/**/**/**/**/*
include pervane/static/js/**/**/**/**/**/*
include pervane/static/js/**/**/**/**/**/**/*
include pervane/static/css/*
include pervane/static/images/*
include pervane/static/fonts/*
