<!DOCTYPE html>

<html>
<!-- Pass variables from jinja to js to be rendered further. -->
<script>
  console.log('Starting with debug mode: {{debug}}')
  {% if not debug %}
    var console = {};
    console.log = function(){};
  {% endif %}

  var values = [];
  var pathToInitEditor = '';
  {% if file_paths_flat %}
  values = {{ file_paths_flat | safe }};
  {% endif %}

  {% if (md_content or md != '') and path and not mime_type.startswith('image/') %}
    pathToInitEditor = '{{path}}';
  {% endif %}

  var rootDirPath = "{{ tree.path|replace(working_dir, '')}}";

  // Search page related vars to be passed down to vue.js
  // TODO(hakanu): These are dynamically fetched, not needed any more.
  var searchResults = {{ search_results|safe if search_results else [] }};
  var searchQuery = '{{ query if query else '' }}';
  var searchStats = '{{ stats if stats else ''}}';
  var tree = {{tree|safe}};
</script>

{% raw %}
<head>
  <title>Pervane - Plain text based note taking app</title> 

  <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">

  <link href="/static/css/bootstrap.min.css" rel="stylesheet" >
  <link href="/static/css/dropzone.min.css" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/editormd.min.css" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <style>
    body {
      font-family: Menlo, Consolas, monospace;
      color: #444;
      color: white;
    }
    .item {
      cursor: pointer;
    }
    .bold {
      font-weight: bold;
    }
    ul {
      padding-left: 1em;
      line-height: 1.5em;
      list-style-type: dot;
    }
    </style>
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/vue-router.js"></script>

  <!-- item template -->
  <script type="text/x-template" id="item-template">
    <li>
      <span
        :class="{bold: isFolder}"
        @click="toggle"
        >
        <span v-if="item.name">
          <span v-if="item.kind == 'file'" draggable
                v-on:dragstart="drag($event, item)">
            <router-link v-if="item.path.endsWith('.jpg')" 
                         :to="'/f/' + encodeURIComponent(item.path)"
                         >
            <i class="fa fa-image" aria-hidden="true"></i> {{ item.name }}
            </router-link>

            <router-link v-else :to="'/n/' + encodeURIComponent(item.path)"
                         >
            <i class="fa fa-file-text" aria-hidden="true"
               v-if="item.path.endsWith('.md')"></i>
            <i class="fa fa-file-code-o" aria-hidden="true" v-else></i> {{ item.name }}
            </router-link>
          </span>
          <span v-else draggable="false" v-on:drop="drop($event, item)">
            <i class="fa fa-folder" aria-hidden="true"></i> {{ item.name }}/
          </span>
        </span>
        <span v-else>/</span>
      </span>
      <span v-if="item.kind == 'dir'" @click="$emit('add-item', item)">
        [{{ isOpen ? '+' : '+' }}]
      </span>

      <ul v-show="expanded()" v-if="item.kind == 'dir'">
        <tree-item
          class="item"
          v-for="(child, index) in item.children"
          :key="index"
          :item="child"
          @add-item="$emit('add-item', $event)"
        ></tree-item>
      </ul>
    </li>
  </script>
</head>
<body>

<!-- the demo root element -->
<div id="demo" v-bind:style="rootStyle" v-cloak>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark nav-narrow">
    <a class="navbar-brand" href="#">Pervane</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" 
             href="#" data-toggle="modal" @click="showSettingsModal()">Settings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" 
             href="#" data-toggle="modal" @click="showShortcutsModal()">Shortcuts</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" 
             href="https://reddit.com/r/pervane">Discuss/Feedback</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" 
             href="https://github.com/hakanu/pervane">Contribute</a>
        </li>
      </ul>

      <button class="btn btn-large fileinput-button" alt="Upload file"><i class="fa fa-upload" aria-hidden="true"></i></button>

      <form class="form-inline mt-2 mt-md-0" @submit.prevent="initSearch">
        <input class="form-control mr-sm-2" type="text" name="query"
               v-model="query"
               placeholder="Search all notes with ag or ack"
               aria-label="Search">
      </form>
    </div>
  </nav>
</header>

<div class="row">
  <div class="col-sm-2 sidebar" v-if="showSidebar" 
       v-bind:style="sidebarStyle">

    <div class="input-group">
      <span>
        <input class="search form-control" id="search-field" 
              placeholder="Quick search (alt + g)" @input="doQuickSearch"
              v-model="quickSearchQuery" />
      </span>
      <br>

      <ul>
        <li v-for="quickResult in quickResults">
          <router-link :to="'/n/' + encodeURIComponent(quickResult.target)">
            [{{quickResult.score}}]: {{ quickResult.target }}
          </router-link>
        </li>
      </ul>
    </div>

    <ul id="">
      <tree-item
        class="item"
        :item="treeData"
        @add-item="addItem"
      ></tree-item>
    </ul>
  </div> <!-- / end of sidebar -->

  <div class="col-sm-10"> <!-- tabs -->
    <!-- tab headers -->
    <div id="tab-headers">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <span>
          <a href="#" alt="Toggle sidebar" @click="showSidebar = !showSidebar"
             style="font-size: 20px; font-style: bold; padding-right:15px;"> 
            <span v-if="showSidebar">«</span>
            <span v-else>»</span>
          </a>
        </span>
        <li class="nav-item" v-for="openTabHeader in openTabHeaders">
          <button class="close closeTab" type="button" @click="closeTab(openTabHeader)">×</button>
            <router-link v-bind:class="{'nav-link': true, 'active': openTabPath == openTabHeader}" 
              :to="'/n/' + encodeURIComponent(openTabHeader)">
              {{ openTabHeader}}
            </router-link>

        </li>
      </ul> <!-- /tab headers -->
    </div>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="profile" role="tabpanel" 
            aria-labelledby="profile-tab">...</div>
      <div class="tab-pane fade show active" id="home" role="tabpanel" 
            aria-labelledby="home-tab">
        <div id="div-editor">
          <p id="message"></p>
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div> <!-- / end of editor --> 

  <!-- Define modals -->
  <!-- New folder/file Modal -->
  <div class="modal fade" id="nodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create new node</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Put / at the end if you want to create a directory. Otherwise we append a .md suffix for you.</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span id="modal-input-prefix" class="input-group-text">
                {{ newNodeParentPath }}
              </span>
            </div>
            <input id="modal-input-new-node-name" type="text" 
                   name="new_node_name" v-model="newNodeName" 
                   class="form-control" placeholder="Type new node's name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" 
                  @click="addNode(newNodeName, newNodeParentPath)">
            Add node
          </button>
        </div>
      </div>
    </div>
  </div> <!-- / new node modal -->

  <!-- Shortcuts Modal -->
  <div class="modal fade" id="shortcuts-modal" tabindex="-1" role="dialog" 
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">
            Keyboard Shortcuts
          </h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>New note: <span><b>alt + n</b></span></p>
          <p>Save: <span><b>alt + s</b></span></p>
          <p>Quick search: <span><b>alt + g</b></span></p>
          <p>Hide/Show sidebar: <span><b>alt + h</b></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div> <!--  /shortcuts modal -->

  <!-- Update Modal -->
  <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" 
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">
            Pervane needs to be updated 
          </h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This version of Pervane installed in your PC is outdated.</p>
          <p>In order to use the most secure version, you should install the latest version with this command easily</p>
          <pre>pip install --upgrade pervane</pre>
          <p>
            <a href="https://pypi.org/project/pervane" target="_blank">
              Pervane @ Pypi
            </a>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div> <!--  /update modal -->

  <!-- Settings Modal -->
  <div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" 
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
          <button type="button" class="close" data-dismiss="modal" 
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <header>
            <h5>Enabled Features</h5>
            <sub>You need to refresh the page for settings to be effective</sub>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" 
                     id="settings-katex" 
                     v-model="settingsKatexChecked"
                     @change="saveSettings($event, 'settingsKatex')">
              <label class="form-check-label" for="settings-katex">TEX / KaTEX</label>
              <br>

              <input class="form-check-input" type="checkbox" value="" 
                     id="settings-charts"
                     v-model="settingsChartsChecked"
                     @change="saveSettings($event, 'settingsCharts')">
              <label class="form-check-label" for="settings-charts">Charts</label>
              <br>

              <input class="form-check-input" type="checkbox" value="" 
                     id="settings-task-lists"
                     v-model="settingsTaskListsChecked"
                     @change="saveSettings($event, 'settingsTaskLists')">

              <label class="form-check-label" for="settings-task-lists">Task Lists</label>
              <br>

              <input class="form-check-input" type="checkbox" value="" 
                     id="settings-sequences"
                     v-model="settingsSequencesChecked"
                     @change="saveSettings($event, 'settingsSequences')">

              <label class="form-check-label" for="settings-sequences">Sequence diagrams</label>
              <br>

              <input class="form-check-input" type="checkbox" value="" 
                     id="settings-code-folding"
                     v-model="settingsCodeFoldingChecked"
                     @change="saveSettings($event, 'settingsCodeFolding')">
              <label class="form-check-label" for="settings-code-folding">Code folding</label>
              <br>

              <input class="form-check-input" type="checkbox" value="" 
                     id="settings-emoji"
                     v-model="settingsEmojiChecked"
                     @change="saveSettings($event, 'settingsEmoji')">
              <label class="form-check-label" for="settings-emoji">Emoji rendering</label>
              <br>

              <input class="form-check-input" type="checkbox" value="" 
                     id="settings-toolbar"
                     v-model="settingsToolbarChecked"
                     @change="saveSettings($event, 'settingsToolbar')">
              <label class="form-check-label" for="settings-toolbar">Show WYSIWYG toolbar?</label>
              <br>

              <input class="form-check-input" type="checkbox" value="" 
                     id="settings-watch"
                     v-model="settingsWatchChecked"
                     @change="saveSettings($event, 'settingsWatch')">
              <label class="form-check-label" for="settings-watch">Show Markdown Preview?</label>
              <br>
            </div>

            <h5>Themes</h5>
            <div class="form-group">
              <label for="editormd-theme-select">General Theme</label>
              <select class="form-control" id="editormd-theme-select" 
                      @change="themeSelected('theme', selectedGeneralTheme)"
                      v-model="selectedGeneralTheme"
                      >
                <option v-for="theme in generalThemes" 
                        :value="theme">{{ theme }}</option>
              </select><br>
              <label for="editor-area-theme-select">Editor Theme</label>
              <select class="form-control" id="editor-area-theme-select"
                      @change="themeSelected('editorTheme', selectedEditorTheme)"
                      v-model="selectedEditorTheme"
                      >
                <option v-for="theme in editorThemes" 
                        :value="theme">{{ theme }}</option>
              </select><br>
              <label for="preview-area-theme-select">Preview Theme</label>
              <select class="form-control" id="preview-area-theme-select"
                      @change="themeSelected('previewTheme', selectedPreviewTheme)"
                      v-model="selectedPreviewTheme"
                      >
                <option v-for="theme in previewThemes" 
                        :value="theme">{{ theme }}</option>
              </select><br>
            </div>

            <div class="form-group">
              <label for="settings-sidebar-background-color">
                Sidebar background color (either hex with # or human readable CSS color)
              </label>
              <input type="text" class="form-control" 
                     id="settings-sidebar-background-color"
                     v-model="settingsSidebarBackgroundColor"
                     v-on:change="saveColor('settingsSidebarBackgroundColor', settingsSidebarBackgroundColor)"
                     >
            </div>

            <div class="form-group">
              <label for="settings-body-background-color">
                Body background color (either hex with # or human readable CSS color)
              </label>
              <input type="text" class="form-control" 
                     id="settings-body-background-color"
                     v-model="settingsBodyBackgroundColor"
                     v-on:change="saveColor('settingsBodyBackgroundColor', settingsBodyBackgroundColor)"
                     >
            </div>

          </header>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div> <!-- /settings modal -->
</div> <!-- /end of main row holding 2+10 cols-->
</div> <!-- /end of #demo -->
</body>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/dropzone.min.js"></script>
<script src="/static/js/editormd.js"></script>
<script src="/static/js/en.js"></script>
<script src="/static/js/fuzzysort.js"></script>

<script>
  Dropzone.autoDiscover = false;

  $(function () {
    var myDropzone = new Dropzone(document.body, {
      clickable: '.fileinput-button',
      url: '/upload',
      acceptedFiles: 'image/*,application/pdf',
      maxFilesize: 2,  // MB
    });

    myDropzone.on('addedfile', function (file) {
      console.log('File added');
    });

    myDropzone.on('success', function (file, response) {
      if (response.result == 'success') {
        window.location.replace('#/f/' + encodeURIComponent(response.entity));
      } else {
        $('#message').text('Fail:/ ' + response.message);
        myDropzone.removeFile(file);
      }
    });

    
  });
</script>

<!-- Vue app main -->
<script>
  // Define routes. 
  const SearchView = {
    props: ['query'],
    data: function () {
      return {
        searchResults: '',
        searchStats: '',
        searchLoading: true,
      };
    },
    template: `
      <div>
        <h6>Results for <b>{{ $route.params.query }}</b></h6>
        <p v-if="searchLoading">
          Searching (search performance is highly dependent on the # of notes you have)...
        </p>
        <div v-else>
          <p><sub>{{ searchStats }}</sub></p>
          <div v-for="result in searchResults" >
            <router-link :to="'/n/' + encodeURIComponent(result.file)">
              {{result.file}} 
            </router-link>
            <ul>
              <li v-for="match in result.matches" v-bind:key="match.snippet">
                <pre>{{match.snippet}}</pre>
              </li>
            </ul>
          </div>
        </div>
      </div>
    `,
    created: function() {
      console.log('search component is mounted', this.query)
      this.search(this.query)
    },
    methods: {
      search: function() {
        let self = this
        console.log('api searching for ', self.query)
        fetch('/api/search?query=' + self.query)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ',
                            response.status);
                return;
              }

              // Examine the text in the response
              response.json().then(function(data) {
                self.searchResults = data.content.results
                self.searchStats = data.content.stats
                self.searchLoading = false
              });
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
          });
      },
    },
  }

  const FileView = {
    props: ['path'],
    data: function () {
      return {
        b64Src: '',
      };
    },
    template: `
      <div>
        <img :src="b64Src">
      </div>
    `,
    created: function() {
      console.log('file component is mounted', this.path)
      this.getFileB64()
    },
    methods: {
      getFileB64: function() {
        let self = this
        fetch('/api/get_file?f=' + self.path)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ',
                            response.status)
                return
              }

              // Examine the text in the response
              response.json().then(function(data) {
                // TODO(hakanu):  Should I assume jpeg?
                self.b64Src = 'data:image/jpeg;base64,' + data.content
              })
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err)
          })
      },
    },
  }

  const NoteView = {
    props: ['path'],
    data: function () {
      return {
        message: '',
        status: '',
        editor: null,
        codeEditor: null,
        mdMode: true,
        cursorPosition: {},
        contentChanged: false,
      };
    },
    template: `
      <div>
        <div class="row">
          <div class="col-sm-10">
            <span>{{ $route.params.path }}</span>:<span>{{cursorPosition.line}}:{{cursorPosition.ch}} </span>
          </div>

          <div class="col-sm-2">
            <button
                class="btn btn-secondary" 
                v-if="$route.params.path.endsWith('.md')"
                @click="saveContent($route.params.path, editor.getMarkdown())">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>

            <button
                class="btn btn-secondary" 
                v-else
                @click="saveContent($route.params.path, codeEditor.getValue())">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <br>
          </div>
        </div>
        <span><sub>{{ status }}</sub></span>
        <div id="editor"></div>
        <div id="code-editor"></div>
      </div>
    `,
    beforeRouteUpdate (to, from, next) {
      // Guard the route switch in case the content is still being saved.
      if (this.contentChanged) {
        this.status = 'Content has been changed but has not been saved yet.'
      } else {
        console.log(
          'content didnt change, navigate normal by removing change listeners.')
        $('#editor').off('input propertychange', '.*');
        $('#code-editor').off('input propertychange', '.*');
        this.status = ''
        console.log('from: ', from, 'to: ', to.params.path)
        this.addNewTabToLS(from.path, to.params.path)
        this.updateOpenTabPathInLS(to.params.path)
        next()
      }
    },
    created: function() {
      let self = this
      // Comes from prop through $route.
      this.loadPathInEditor(this.path)
      this.addNewTabToLS('', this.path)
      this.updateOpenTabPathInLS(this.path)

      // Keyboard shortcuts.
      // alt + s saving.
      // TODO(hakanu): Bring this shortcut back.
      $(document).keydown(function (event) {
        // 19 for Mac Command+S
        if (!(String.fromCharCode(event.which).toLowerCase() == 's' && 
            event.altKey) && !(event.which == 19)) return true
        event.preventDefault()
        if (self.path.endsWith('.md')) {
          self.saveContent(self.path, self.editor.getMarkdown())
        } else {
          self.saveContent(self.path, self.codeEditor.getValue())
        }
        return false
      })

    },
    methods: {
      updateOpenTabPathInLS: function(toPath) {
        localStorage.setItem('openTabPath', toPath)
      },
      addNewTabToLS: function(fromPath, toPath) {
        let openTabPathsStr = localStorage.getItem('openTabPaths', '')
        let openTabPaths = []
        // If there is an entry, init the list.
        if (openTabPathsStr) {
          openTabPaths = openTabPathsStr.split(',')
        } else { 
          // Default init for the LS variable.
          localStorage.setItem('openTabPaths', '')
        }
         
        if (openTabPaths.includes(toPath)) {
          return
        }
        
        openTabPaths.push(toPath)
        localStorage.setItem('openTabPaths', openTabPaths.join(','))
        this.$forceUpdate()
      },
      saveContent: function(path, updatedContent) {
        let self = this 
        console.log('save content', path, this.$route.params.path)
        if (path != this.$route.params.path) {
          console.log('not saving because the page is different from save path')
          return
        }

        fetch('/api/get_content?f=' + path)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ',
                            response.status)
                self.status = (
                  'Can not find such a file to update ' + response.status)
                return
              }

              response.json().then(function(data) {
                if  (data.content != updatedContent) {
        console.log('saving since content has changed')
                  fetch('/api/update', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                      file_path: path,
                      updated_content: updatedContent,
                    }),
                  })
                  .then(response => response.json())
                  .then(result => {
                    self.status = 'Updated ' + path + ' @ ' + (new Date())
                    console.log('saved so releasing the route lock')
                    self.contentChanged = false
                  })
                  .catch(error => {
                    console.error('Error:', error)
                    self.status = 'Error saving ' + path + ' @ ' + error 
                  })
                } else {
                  console.log('not saving since content is already same')
                  self.status = 'Content has not changed.'
                  return
                }
              })  // End of successful response.
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
          })  // end of fetch.
      },
      initEditor: function (data, path) {
        // There are 2 editors living all the time except initial load.
        // editor => General markdown editor
        // codeEditor => Code editor.
        let self = this
        if (data.result == 'success') {

          if(path.endsWith('.md')) {
            if (self.codeEditor) {
              self.codeEditor.hide()
            }

            if (this.editor) {
              // this.editor.editor.remove()
              self.editor.setMarkdown(data.content + '\n')
              self.editor.show()

              // Add listener for modification.
              $('#editor').on('input propertychange', function () {
                self.contentChanged = true
                self.getCursorPosition()
                console.log('Autosaving editor')

                // Runs 2s after the las/t change    
                var timeoutId
                clearTimeout(timeoutId)
                timeoutId = setTimeout(function () {
                  self.saveContent(path, self.editor.getMarkdown());
                }, 2000)
              })

              return
            }
          } 

          if (!path.endsWith('.md')) {
            if (self.editor) {
              self.editor.hide()
            }
            if (this.codeEditor) {
              // this.editor.editor.remove()
              self.codeEditor.setValue(data.content)
              self.codeEditor.show()

              // Add listener for modification.
              $('#code-editor').on('input propertychange', function () {
                self.contentChanged = true
                self.getCursorPosition()
                console.log('Autosaving code editor');

                // Runs 2s after the las/t change    
                var timeoutId
                clearTimeout(timeoutId)
                timeoutId = setTimeout(function () {
                  self.saveContent(path, self.editor.getValue());
                }, 2000)
              })

              return
            } 
          }

          // Create elements for fresh editor creation.
          if (!$('#editor')[0]) {
            $('#div-editor').eq(0).append('<div id="editor"></div>');
          }

          if (!$('#code-editor')[0]) {
            $('#div-editor').eq(0).append('<div id="code-editor"></div>');
          }

          if (path.endsWith('.md')) {
            if (!self.editor) {
              self.editor = editormd('editor', {
                width: '100%',
                height: 1280,
                taskList: (localStorage.settingsTaskLists) ? (localStorage.settingsTaskLists == '1') : true,
                // autoHeight: true,
                codeFold: (localStorage.settingsCodeFolding) ? (localStorage.settingsCodeFolding == '1') : true,
                searchReplace: true,
                flowChart: (localStorage.settingsCharts) ? (localStorage.settingsCharts == '1') : true,
                sequenceDiagram: (localStorage.settingsSequences) ? (localStorage.settingsSequences == '1') : true,
                tex: (localStorage.settingsKatex) ? (localStorage.settingsKatex == '1') : true,
                emoji: (localStorage.settingsEmoji) ? (localStorage.settingsEmoji == '1') : true,
                toolbar: (localStorage.settingsToolbar) ? (localStorage.settingsToolbar == '1') : true,
                watch: (localStorage.settingsWatch) ? (localStorage.settingsWatch == '1'): true,
                theme: (localStorage.theme) ? localStorage.theme : 'dark',
                previewTheme: (localStorage.previewTheme) ? localStorage.previewTheme : 'dark',
                editorTheme: (localStorage.editorTheme) ? localStorage.editorTheme : "pastel-on-dark",
                markdown: data.content,
                value: '',
                path: '/static/js/lib/',  // Autoload modules mode.
                syncScrolling : true,
                onload: function () {
                  // Event needs to be added specifically in order to be
                  // removed easily.
                  $('#editor').on('input propertychange', function () {
                    self.contentChanged = true
                    self.getCursorPosition()
                    console.log('Autosaving editor')

                    // Runs 2s after the las/t change    
                    var timeoutId
                    clearTimeout(timeoutId)
                    timeoutId = setTimeout(function () {
                      self.saveContent(path, self.editor.getMarkdown());
                    }, 2000)
                  })

                },
                onwatch : function() {
                },
              })
            }
          } else {
            // Mode is not working here :/
            if (!self.codeEditor) {
              self.codeEditor = editormd('code-editor', {
                width            : "100%",
                height           : 1280,
                // autoHeight: true,
                watch            : false,
                toolbar          : false,
                codeFold         : true,
                searchReplace    : true,
                placeholder      : "Welcome to pervane",
                value: data.content,
                theme: localStorage.theme ? localStorage.theme : 'dark',
                editorTheme: localStorage.editorTheme ? localStorage.editorTheme : 'monokai',
                mode: data.file_mode ? data.file_mode : 'text/html',
                path: '/static/js/lib/',  // Autoload modules mode.
                onload: function () {
                  // Event needs to be added specifically in order to be
                  // removed easily.
                  $('#code-editor').on('input propertychange', function () {
                    self.contentChanged = true
                    self.getCursorPosition()
                    console.log('Autosaving code editor');

                    // Runs 2s after the last change of code editor.
                    var timeoutId
                    clearTimeout(timeoutId)
                    timeoutId = setTimeout(function () {
                      self.saveContent(path, self.codeEditor.getValue());
                    }, 2000)
                  })

                },
                onwatch : function() {
                },
              })
            }

          }
          
        } else {
          console.log('something went wrong while fetching the file content',
                      data.result)
          this.status = (
            'something went wrong while fetching the file content',
            data.result)
        }
      },  // end of initEditor.
      loadPathInEditor: function(path) {
        self = this
        fetch('/api/get_content?f=' + path)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ',
                            response.status)
                return
              }

              response.json().then(function(data) {
                self.initEditor(data, path)
              })
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
          })
      },  // end of loadPathInEditor
      getCursorPosition: function() {
        if (this.path.endsWith('.md')) {
          this.cursorPosition = this.editor.getCursor()
        } else {
          this.cursorPosition = this.codeEditor.getCursor()
        }
      },
    }, // end of methods. 
    computed: {
    },
    watch: {
      $route(to, from) {
        // react to route changes...
        const newPath = this.path
        console.log('watching route change', newPath)
        this.loadPathInEditor(newPath)
      } // End of $route.
    },
  }

  // Define VueRouter instance.
  const router = new VueRouter({
    routes:  [
      { path: '/n/:path', component: NoteView, props: true },
      { path: '/f/:path', component: FileView, props: true },
      { path: '/s/:query', component: SearchView, props: true },
    ]
  })

  // Define the tree-item component.
  Vue.component("tree-item", {
    template: "#item-template",
    props: {
      item: Object
    },
    data: function() {
      return {
        isOpen: false,
        rootDirPath: rootDirPath,
      };
    },
    computed: {
      isFolder: function() {
        return this.item.children && this.item.children.length;
      },
    }, 
    mounted: function () {
      this.$nextTick(function () {
        // Code that will run only after the
        // entire view has been rendered
      }) // End of next tick.
    },
    methods: {
      toggle: function() {
        if (this.isFolder) {
          this.isOpen = !this.isOpen
          localStorage.setItem(this.item.path, this.isOpen)
        }
      },
      expanded: function() {
        // Always expand the root item.
        if (this.item.path == '/') {
          localStorage.setItem(this.item.path, 'true')
          return true
        }
        // Restore expand/collapse memory from localstorage.
        // var key = localStorage.key(this.path)
        var value = localStorage.getItem(this.item.path)
        // console.log('key', this.item.path, value)
        // Hacky but useful way to generate ids from folder paths.
        // needed to use false as a str because is(visible) is serialized :/
        if (value != null && value != 'false') {
          this.isOpen = true
          return true
        }
        return false
      },
      // Drag drop file move
      drag: function(ev, draggedItem) {
        ev.dataTransfer.setData('sourcePath', draggedItem.path)
      }, // end of drag.
      drop: function(ev, droppedItem) {
        ev.preventDefault();
        self = this
        var sourcePath = ev.dataTransfer.getData('sourcePath')
        var destDir = droppedItem.path
        console.log('Moving ', sourcePath, ' to dest ', destDir)
      //  return

        fetch(
          '/api/move_file?source_path=' + sourcePath + '&dest_dir=' + destDir, {
          method: 'GET',
        })
          .then(response => response.json())
          .then(result => {
            console.log('Success:', result)
            self.$emit('refreshTree')
            location.reload()
            })
          .catch(error => {
            console.error('Error:', error)
          }) // End of fetch.

      }, // end of drop
    },
  });

  // boot up the demo
  var demo = new Vue({
    router,
    el: "#demo",
    data: {
      treeData: tree,//treeData
      showSidebar: true,
      rootDirPath: rootDirPath,
      newNodeName: '',
      newNodeParentPath: '',
      query: '',
      quickSearchQuery: '',
      quickResults: [],
      
      // Settings related data. All of them enabled by default.
      settingsKatexChecked: localStorage.settingsKatex ? localStorage.settingsKatex == '1' : '1',
      settingsTaskListsChecked: localStorage.settingsTaskLists ? localStorage.settingsTaskLists == '1' : '1',
      settingsChartsChecked: localStorage.settingsCharts ? localStorage.settingsCharts == '1' : '1',
      settingsSequencesChecked: localStorage.settingsSequences ? localStorage.settingsSequences == '1' : '1',
      settingsCodeFoldingChecked: localStorage.settingsCodeFolding ? localStorage.settingsCodeFolding == '1' : '1',
      settingsEmojiChecked: localStorage.settingsEmoji ? localStorage.settingsEmoji == '1' : '1',
      settingsToolbarChecked: localStorage.settingsToolbar ? localStorage.settingsToolbar == '1' : '1',
      settingsWatchChecked: localStorage.settingsWatch ? localStorage.settingsWatch == '1' : '1',
      
      // Theme settings.
      selectedGeneralTheme: (
        (localStorage.theme) ? localStorage.theme : 'dark'),
      selectedEditorTheme: (
        (localStorage.editorTheme) ? localStorage.editorTheme : 'dark'),
      selectedPreviewTheme: (
        (localStorage.previewTheme) ? localStorage.previewTheme : 
        'pastel-on-dark'),
      generalThemes: editormd.themes, 
      editorThemes: editormd.editorThemes,
      previewThemes: editormd.previewThemes,
      settingsBodyBackgroundColor: (
        (localStorage.settingsBodyBackgroundColor) ? 
        localStorage.settingsBodyBackgroundColor :
         '#272822'),
      settingsSidebarBackgroundColor: (
        (localStorage.settingsSidebarBackgroundColor) ? 
        localStorage.settingsSidebarBackgroundColor:
         '#272822'),
    },
    created: function() {
      let self = this

      // Check for updates.
      fetch('/api/check_updates')
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log(
                'Looks like there was a problem. Status Code: ',
                response.status)
              return
            }

            response.json().then(function(data) {
              if (data.needs_update) {
                self.showUpdateModal()
              }
            })
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        })

      // alt + g focus on quick search, sublime text style.
      $(document).keydown(function (event) {
        // 19 for Mac Command+S
        if (!(String.fromCharCode(event.which).toLowerCase() == 'g' && 
            event.altKey) && !(event.which == 19)) return true
        event.preventDefault()
        $('#search-field').focus()
        return false
      })

      // alt + n create new note in the first level directory.
      $(document).keydown(function (event) {
        // 19 for Mac Command+S
        if (!(String.fromCharCode(event.which).toLowerCase() == 'n' && 
            event.altKey) && !(event.which == 19)) return true
        event.preventDefault()
        self.addItem('/')
        return false
      })

      // alt + h hide the sidebar.
      $(document).keydown(function (event) {
        // 19 for Mac Command+S
        if (!(String.fromCharCode(event.which).toLowerCase() == 'h' && 
            event.altKey) && !(event.which == 19)) return true
        event.preventDefault()
        self.showSidebar = !self.showSidebar
        return false
      })
    },
    computed: {
      rootStyle: function() {
        return {
          backgroundColor: this.settingsBodyBackgroundColor,
        }
      },
      sidebarStyle: function() {
        return {
          backgroundColor: this.settingsSidebarBackgroundColor,
        }
      },
      openTabHeaders: {
        cache: false,
        get() {
          return (localStorage.getItem('openTabPaths') || '').split(',')
        }
      },
      openTabPath: {
        cache: false,
        get() {
          return (localStorage.getItem('openTabPath') || '')
        }
      },
    },
    methods: {
      addItem: function(item) {
        // item.children.push({
        //   name: "new stuff"
        // });
        console.log('showing modal', item, item.path)
        this.newNodeParentPath = item.path
        $('#nodeModal').modal();
        // Hack to focus on input box upon creation.
        // Without timeout, item is not ready.
        setTimeout(function () {
          $('#modal-input-new-node-name').focus();
        }, 500)
      },
      closeTab: function(path) {
        console.log('closing the tab', path)
        let openTabPaths = (localStorage.getItem('openTabPaths') || '').split(',')
        let elementIndexToDelete = openTabPaths.indexOf(path)
        if (elementIndexToDelete == -1) {
          return
        }

        openTabPaths.splice(elementIndexToDelete, 1);
        localStorage.setItem('openTabPaths', openTabPaths.join(','))
        // Recompute the computed property to reflect the removal to the tabs.
        // this.$recompute('openTabHeaders')
        this.$forceUpdate()
      },
      showSettingsModal: function() {
        console.log('show settings modal')
        $('#settings-modal').modal();

        // Init settings.
        // Modal should be initialized for these.
        if (localStorage.settingsKatex) {
          $('#settings-katex')[0].checked = localStorage.settingsKatex == '1';
        }
        if (localStorage.settingsTaskLists) {
          $('#settings-task-lists')[0].checked = localStorage.settingsTaskLists == '1';
        }

        if (localStorage.settingsCharts) {
          $('#settings-charts')[0].checked = localStorage.settingsCharts == '1';
        }

        if (localStorage.settingsSequences) {
          $('#settings-sequences')[0].checked = localStorage.settingsSequences == '1';
        }

        if (localStorage.settingsCodeFolding) {
          $('#settings-code-folding')[0].checked = localStorage.settingsCodeFolding == '1';
        }

        if (localStorage.settingsEmoji) {
          $('#settings-emoji')[0].checked = localStorage.settingsEmoji == '1';
        }

        if (localStorage.settingsToolbar) {
          $('#settings-toolbar')[0].checked = localStorage.settingsToolbar == '1';
        }
      },
      showShortcutsModal: function() {
        $('#shortcuts-modal').modal();
      },
      showUpdateModal: function() {
        $('#update-modal').modal();
      },
      addNode: function(newNodeName, newNodeParentPath) {
        $('#nodeModal').modal('hide')

        self = this

        // Call the API to create the new node.
        fetch('/api/add_node', {
          method: 'POST',
          headers: {
            // 'Content-Type': 'application/x-www-form-urlencoded',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            parent_path: newNodeParentPath,
            new_node_name: newNodeName,
          }),
        })
        .then(response => response.json())
        .then(result => {
          console.log('Success:', result)
          if (result.result == 'success' && result.type == 'file') {
            router.push({ 
              path: '/n/' + encodeURIComponent(result.entity) 
            })
          }
          self.refreshTree()
        })
        .catch(error => {
          console.error('Error:', error)
        })
      },
      refreshTree: function() {
        let self = this
        fetch('/api/get_tree')
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log(
                  'Looks like there was a problem. Status Code: ',
                  response.status)
                return;
              }

              // Examine the text in the response
              response.json().then(function(data) {
                self.treeData = data.content
              })
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
          })
      },  // end of refreshTree.
      initSearch: function() {
        let self = this
        console.log('init searching for ', self.query)
        router.push({ path: '/s/' + encodeURIComponent(self.query) })
      },
      saveSettings: function(event, localStorageKey) {
        console.log('Saving settings for key: ', event.target.checked, 
                    localStorageKey)
        if (event.target.checked) {
          localStorage.setItem(localStorageKey, 1);
        } else {
          localStorage.setItem(localStorageKey, 0);
        }
      },
      themeSelected: function(themeKey, themeName) {
        console.log('theme selected', themeKey, themeName)
        localStorage.setItem(themeKey, themeName)
      },
      selectedTheme: function(themeKey) {
        console.log('selected theme for ', themeKey)
        return localStorage.getItem(themeKey)
      },
      saveColor: function(colorKey, colorValue) {
        localStorage.setItem(colorKey, colorValue)
      },
      doQuickSearch: function() {
        let self = this
        self.quickResults =  []

        if (!self.quickSearchQuery || self.quickSearchQuery == '') {
          self.quickResults = []
          return
        }

        // Runs 2s after the last change.
        var timeoutId;
        clearTimeout(timeoutId)
        timeoutId = setTimeout(function () {
          // https://github.com/farzher/fuzzysort.
          // TODO(hakanu): Make the threshold configurable.
          self.quickResults = fuzzysort.go(self.quickSearchQuery, values, {
            threshold: -100000})
        }, 1000)
      },
      receiveNotifyToRefreshTree: function(ev) {
        console.log('received', ev, this)
      },
    },
  });
</script>

{% endraw %}
</html>
