<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/dropzone.min.js"></script>
<script src="/static/js/editormd.js"></script>
<script src="/static/js/en.js"></script>
<script src="/static/js/fuzzysort.js"></script>
<!-- popper 2.5.3 -->
<script src="/static/js/popper.min.js"></script>

<!-- Drag Drop upload -->
<script>
  Dropzone.autoDiscover = false;

  $(function () {
    var myDropzone = new Dropzone(document.body, {
      clickable: '.fileinput-button',
      url: '/upload',
      acceptedFiles: 'image/*,application/pdf',
      maxFilesize: 2,  // MB
    });

    myDropzone.on('addedfile', function (file) {
      console.log('File added');
    });

    myDropzone.on('success', function (file, response) {
      if (response.result == 'success') {
        window.location.replace('#/f/' + encodeURIComponent(response.entity));
      } else {
        $('#message').text('Fail:/ ' + response.message);
        myDropzone.removeFile(file);
      }
    });

    
  });
</script>

<!-- Vue app main -->

{% raw %}
<script>
  // Define routes. 
  const SearchView = {
    props: ['query'],
    data: function () {
      return {
        searchResults: '',
        searchStats: '',
        searchLoading: true,
      };
    },
    template: `
      <div>
        <h6>Results for <b>{{ $route.params.query }}</b></h6>
        <p v-if="searchLoading">
          Searching (search performance is highly dependent on the # of notes you have)...
        </p>
        <div v-else>
          <p><sub>{{ searchStats }}</sub></p>
          <div v-for="result in searchResults" >
            <router-link :to="'/n/' + encodeURIComponent(result.file)">
              {{result.file}} 
            </router-link>
            <ul>
              <li v-for="match in result.matches" v-bind:key="match.snippet">
                <pre>{{match.snippet}}</pre>
              </li>
            </ul>
          </div>
        </div>
      </div>
    `,
    created: function() {
      console.log('search component is mounted', this.query)
      this.search(this.query)
    },
    methods: {
      search: function() {
        let self = this
        console.log('api searching for ', self.query)
        fetch('/api/search?query=' + self.query)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ',
                            response.status);
                return;
              }

              // Examine the text in the response
              response.json().then(function(data) {
                self.searchResults = data.content.results
                self.searchStats = data.content.stats
                self.searchLoading = false
              });
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
          });
      },
    },
  }

  const DirectoryView = {
    props: ['path'],
    data: function () {
      return {
        globResults: {
          files: [],
          dirs: [],
        },
      };
    },
    template: `
      <div>
        <p>
          <span v-for="breadcrumb in breadcrumbs">
            <router-link :to="'/d/' + encodeURIComponent(breadcrumb)">
              {{ breadcrumb.substring(breadcrumb.lastIndexOf('/')).replace('/', '') }}
            </router-link> /
          </span>
        </p>

        <div class="row">
          <div class="col-sm-2" v-for="dir in globResults.dirs">
            <div class="card" >

              <svg class="bi bi-folder img-fluid" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.828 4a3 3 0 01-2.12-.879l-.83-.828A1 1 0 006.173 2H2.5a1 1 0 00-1 .981L1.546 4h-1L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3v1z"/>
                <path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91h10.348a1 1 0 00.995-.91l.637-7A1 1 0 0013.81 4zM2.19 3A2 2 0 00.198 5.181l.637 7A2 2 0 002.826 14h10.348a2 2 0 001.991-1.819l.637-7A2 2 0 0013.81 3H2.19z" clip-rule="evenodd"/>
              </svg>

              <div class="card-body">
                <p class="card-text">
                  <small class="text-muted small-text">
                    <router-link :to="'/d/' + encodeURIComponent(dir)">
                      {{ dir.substring(dir.lastIndexOf('/'))}}
                    </router-link>
                  </small>
                </p>
              </div>
            </div>
          </div> <!-- /end of dir card group -->

          <div 
              v-bind:class="(file.endsWith('.png') || file.endsWith('.jpg') || file.endsWith('.jpeg') || file.endsWith('.mp4')) ? 'col-sm-4' : 'col-sm-2'" 
              v-for="file in globResults.files">
            <div class="card" >

              <router-link :to="'/n/' + encodeURIComponent(file)">
                <span v-if="file.endsWith('.png') || file.endsWith('.jpg') || file.endsWith('.jpeg')">
                  <img :src="'/_img' + file" class="card-img-top" alt="...">
                </span>

                <span v-else>
                    <video v-if="file.endsWith('.mp4')" 
                          class="video-fluid img-fluid" loop muted controls>
                      <source :src="'/_img' + file" type="video/mp4" />
                    </video>
                  
                  <svg v-else class="bi bi-file-earmark-text img-fluid" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z"/>
                    <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z"/>
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                  </svg>
                </span>
              </router-link>

              <div class="card-body">
                <p class="card-text">
                  <small class="text-muted small-text">
                    <router-link :to="'/n/' + encodeURIComponent(file)">
                      {{ file.substring(file.lastIndexOf('/'))}}
                    </router-link>
                  </small>
                </p>
              </div>
            </div>
          </div> <!-- /end of file card group -->
        </div>

      </div>
    `,
    created: function() {
      console.log('directory component is mounted', this.path)
      // Reset open path.
      localStorage.setItem('openTabPath', '')
      this.globDirectory()
    },
    beforeRouteUpdate (to, from, next) {
      console.log('before route update: ', to, from, next)
      localStorage.setItem('openTabPath', '')
      next()
    },
    methods: {
      globDirectory: function() {
        let self = this
        fetch('/api/glob?f=' + self.path)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log(
                    'Looks like there was a problem. Status Code: ',
                    response.status)
                return
              }

              response.json().then(function(data) {
                console.log('glob result files: ', data.content.results.files)
                console.log('glob result dirs: ', data.content.results.dirs)
                self.globResults.files = data.content.results.files
                self.globResults.dirs = data.content.results.dirs
              })
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err)
          })
      },
    },
    computed: {
      // Directory path pieces for easier navigation to root.
      breadcrumbs: function() {
        breadcrumbs = []
        let pathPieces = this.path.split('/')
        console.log('pathPieces: ', pathPieces)
        let prevPath = '/'
        for (let i = 0; i < pathPieces.length; i++) {
          const element = pathPieces[i];
          let newPath = prevPath + (prevPath == '/' ? '' : '/') + element
          console.log('element: ', element, prevPath, newPath)
          breadcrumbs.push(newPath)
          console.log('breadcrumbs: ', breadcrumbs)
          prevPath = newPath
        }
        return breadcrumbs
      },
    },
    watch: {
      $route(to, from) {
        // react to route changes...
        const newPath = this.path
        console.log('watching route change from DirectoryView', newPath)
        localStorage.setItem('openTabPath', '')
        this.globDirectory(newPath)
      } // End of $route.
    },
  }

  const NoteView = {
    props: ['path'],
    data: function () {
      return {
        message: '',
        status: '',
        editor: null,
        codeEditor: null,
        mdMode: true,
        cursorPosition: {},
        contentChanged: false,
      };
    },
    template: `
      <div>
        <!-- static file -->
        <div v-show="($route.params.path.endsWith('.jpg') || $route.params.path.endsWith('.png') || $route.params.path.endsWith('.jpeg') || $route.params.path.endsWith('.mp4'))">
          <video v-if="$route.params.path.endsWith('.mp4')" 
                 :src="'/_img' + $route.params.path" 
                 class="video-fluid img-fluid" loop muted controls>
            <source :src="'/_img' + $route.params.path" type="video/mp4" />
          </video>
          <img v-else :src="'/_img' + $route.params.path" class="img-fluid">
        </div>

        <!-- Code or markdown editor -->
        <div v-show="!($route.params.path.endsWith('.jpg') || $route.params.path.endsWith('.png') || $route.params.path.endsWith('.jpeg') || $route.params.path.endsWith('.mp4'))">
          <div id="editor"></div>
          <div id="code-editor"></div>
        </div>
      </div>
    `,
    beforeRouteUpdate (to, from, next) {
      // Guard the route switch in case the content is still being saved.
      if (this.contentChanged) {
        this.status = 'Content has been changed but has not been saved yet.'
      } else {
        console.log(
          'content didnt change, navigate normal by removing change listeners.')
        $('#editor').off('input propertychange', '.*');
        $('#code-editor').off('input propertychange', '.*');
        this.status = ''
        console.log('from: ', from, 'to: ', to.params.path)
        this.addNewTabToLS(from.path, to.params.path)
        this.updateOpenTabPathInLS(to.params.path)
        next()
      }
    }, 
    created: function() {
      let self = this
      // Comes from prop through $route.
      this.loadPathInEditor(this.path)
      this.addNewTabToLS('', this.path)
      this.updateOpenTabPathInLS(this.path)

      // Keyboard hortcuts.
      // alt + s saving.
      // TODO(hakanu): Bring this shortcut back.
      $(document).keydown(function (event) {
        // 19 for Mac Command+S
        if (!(String.fromCharCode(event.which).toLowerCase() == 's'
              && event.altKey) &&
            !(String.fromCharCode(event.which).toLowerCase() == 's'
              && event.ctrlKey) && !(event.which == 19)) {
          return true
        }
        event.preventDefault()
        if (self.path.endsWith('.md')) {
          self.saveContent(self.path, self.editor.getMarkdown())
        } else {
          self.saveContent(self.path, self.codeEditor.getValue())
        }
        return false
      })

    },
    methods: {
      updateOpenTabPathInLS: function(toPath) {
        localStorage.setItem('openTabPath', toPath)
      },
      addNewTabToLS: function(fromPath, toPath) {
        let openTabPathsStr = localStorage.getItem('openTabPaths', '')
        let openTabPaths = []
        // If there is an entry, init the list.
        if (openTabPathsStr) {
          openTabPaths = openTabPathsStr.split(',')
        } else { 
          // Default init for the LS variable.
          localStorage.setItem('openTabPaths', '')
        }
         
        if (openTabPaths.includes(toPath)) {
          return
        }
        
        openTabPaths.push(toPath)
        localStorage.setItem('openTabPaths', openTabPaths.join(','))
        this.$forceUpdate()
      },
      saveContent: function(path, updatedContent) {
        let self = this 
        console.log('save content', path, this.$route.params.path)
        if (path != this.$route.params.path) {
          console.log('not saving because the page is different from save path')
          return
        }

        fetch('/api/get_content?f=' + path)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ',
                            response.status)
                self.status = (
                  'Can not find such a file to update ' + response.status)
                return
              }

              response.json().then(function(data) {
                if  (data.content != updatedContent) {
                  console.log('saving since content has changed')
                  fetch('/api/update', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                      file_path: path,
                      updated_content: updatedContent,
                    }),
                  })
                  .then(response => response.json())
                  .then(result => {
                    self.status = 'Updated ' + path + ' @ ' + (new Date())
                    console.log('saved so releasing the route lock')
                    self.contentChanged = false
                  })
                  .catch(error => {
                    console.error('Error:', error)
                    self.status = 'Error saving ' + path + ' @ ' + error 
                  })
                } else {
                  console.log('not saving since content is already same')
                  self.status = 'Content has not changed.'
                  return
                }
              })  // End of successful response.
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
          })  // end of fetch.
      },
      initEditor: function (data, path) {
        console.log('loading editor')
        // There are 2 editors living all the time except initial load.
        // editor => General markdown editor
        // codeEditor => Code editor.
        let self = this
        if (data.result == 'success') {

          if(path.endsWith('.md')) {
            if (self.codeEditor) {
              self.codeEditor.hide()
            }

            if (this.editor) {
              self.editor.setMarkdown(data.content + '\n')
              self.editor.show()

              // Add listener for modification.
              $('#editor').on('input propertychange', function () {
                self.contentChanged = true
                self.getCursorPosition()
                console.log('Autosaving editor')

                // Runs 2s after the las/t change    
                var timeoutId
                clearTimeout(timeoutId)
                timeoutId = setTimeout(function () {
                  self.saveContent(path, self.editor.getMarkdown());
                }, 2000)
              })

              return
            } else {
              console.log('editor is null can not create')
            }
          } 

          if (!path.endsWith('.md')) {
            if (self.editor) {
              self.editor.hide()
            }
            if (this.codeEditor) {
              self.codeEditor.setValue(data.content)
              self.codeEditor.show()

              // Add listener for modification.
              $('#code-editor').on('input propertychange', function () {
                self.contentChanged = true
                self.getCursorPosition()
                console.log('Autosaving code editor');

                // Runs 2s after the las/t change    
                var timeoutId
                clearTimeout(timeoutId)
                timeoutId = setTimeout(function () {
                  self.saveContent(path, self.editor.getValue());
                }, 2000)
              })

              return
            } 
          }

          // Create elements for fresh editor creation.
          if (!$('#editor')[0]) {
            $('#div-editor').eq(0).append('<div id="editor"></div>');
          }

          if (!$('#code-editor')[0]) {
            $('#div-editor').eq(0).append('<div id="code-editor"></div>');
          }

          if (path.endsWith('.md')) {
            if (!self.editor) {
              self.editor = editormd('editor', {
                width: '100%',
                height: 1280,
                taskList: (localStorage.settingsTaskLists) ? (localStorage.settingsTaskLists == '1') : true,
                // autoHeight: true,
                codeFold: (localStorage.settingsCodeFolding) ? (localStorage.settingsCodeFolding == '1') : true,
                searchReplace: true,
                flowChart: (localStorage.settingsCharts) ? (localStorage.settingsCharts == '1') : true,
                sequenceDiagram: (localStorage.settingsSequences) ? (localStorage.settingsSequences == '1') : true,
                tex: (localStorage.settingsKatex) ? (localStorage.settingsKatex == '1') : true,
                emoji: (localStorage.settingsEmoji) ? (localStorage.settingsEmoji == '1') : true,
                toolbar: (localStorage.settingsToolbar) ? (localStorage.settingsToolbar == '1') : true,
                watch: (localStorage.settingsWatch) ? (localStorage.settingsWatch == '1'): true,
                theme: (localStorage.theme) ? localStorage.theme : 'dark',
                previewTheme: (localStorage.previewTheme) ? localStorage.previewTheme : 'dark',
                editorTheme: (localStorage.editorTheme) ? localStorage.editorTheme : "monokai",
                htmlDecode : (localStorage.settingsRenderHtmlTags) ? "style,script,iframe|on*" : false,  // Enable HTML tag parsing. For security, it is not enabled by default
                markdown: data.content,
                value: '',
                path: '/static/js/lib/',  // Autoload modules mode.
                syncScrolling : true,
                onload: function () {
                  // Event needs to be added specifically in order to be
                  // removed easily.
                  $('#editor').on('input propertychange', function () {
                    self.contentChanged = true
                    self.getCursorPosition()
                    console.log('Autosaving editor')

                    // Runs 2s after the las/t change    
                    var timeoutId
                    clearTimeout(timeoutId)
                    timeoutId = setTimeout(function () {
                      self.saveContent(path, self.editor.getMarkdown());
                    }, 2000)
                  })

                },
                onwatch : function() {
                },
              })
            }
          } else {
            // Mode is not working here :/
            if (!self.codeEditor) {
              self.codeEditor = editormd('code-editor', {
                width            : "100%",
                height           : 1280,
                // autoHeight: true,
                watch            : false,
                toolbar          : false,
                codeFold         : true,
                searchReplace    : true,
                placeholder      : "Welcome to pervane",
                value: data.content,
                theme: localStorage.theme ? localStorage.theme : 'dark',
                editorTheme: localStorage.editorTheme ? localStorage.editorTheme : 'monokai',
                mode: data.file_mode ? data.file_mode : 'text/html',
                path: '/static/js/lib/',  // Autoload modules mode.
                onload: function () {
                  // Event needs to be added specifically in order to be
                  // removed easily.
                  $('#code-editor').on('input propertychange', function () {
                    self.contentChanged = true
                    self.getCursorPosition()
                    console.log('Autosaving code editor');

                    // Runs 2s after the last change of code editor.
                    var timeoutId
                    clearTimeout(timeoutId)
                    timeoutId = setTimeout(function () {
                      self.saveContent(path, self.codeEditor.getValue());
                    }, 2000)
                  })

                },
                onwatch : function() {
                },
              })
            }

          }
          
        } else {
          console.log('something went wrong while fetching the file content',
                      data.result)
          this.status = (
            'something went wrong while fetching the file content',
            data.result)
        }
      },  // end of initEditor.
      loadPathInEditor: function(path) {
        console.log('loadPathInEditor')
        self = this 
        if (path.endsWith('.jpg')
            || path.endsWith('.png')
            || path.endsWith('.jpeg')
            || path.endsWith('.mp4')
            ) {
          return
        }

        fetch('/api/get_content?f=' + path)
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ',
                            response.status)
                return
              }

              response.json().then(function(data) {
                self.initEditor(data, path)
              })
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
          })
      },  // end of loadPathInEditor
      getCursorPosition: function() {
        if (this.path.endsWith('.md')) {
          this.cursorPosition = this.editor.getCursor()
        } else {
          this.cursorPosition = this.codeEditor.getCursor()
        }
      },
    }, // end of methods. 
    computed: {
    },
    watch: {
      $route(to, from) {
        // react to route changes...
        const newPath = this.path
        console.log('watching route change', newPath)
        this.loadPathInEditor(newPath)
      } // End of $route.
    },
  }

  // Define VueRouter instance.
  const router = new VueRouter({
    routes:  [
      // Single note view. Renders markdown, code, images and video.
      { path: '/n/:path', component: NoteView, props: true },

      // Search result view.
      { path: '/s/:query', component: SearchView, props: true },

      // Directory browser view.
      { path: '/d/:path', component: DirectoryView, props: true },
    ]
  })

  // Define the tree-item component.
  Vue.component("tree-item", {
    template: "#item-template",
    props: {
      item: Object
    },
    data: function() {
      return {
        isOpen: false,
        rootDirPath: rootDirPath,
      };
    },
    computed: {
      isFolder: function() {
        return this.item.children && this.item.children.length;
      },
    }, 
    mounted: function () {
      this.$nextTick(function () {
        // Code that will run only after the
        // entire view has been rendered
      }) // End of next tick.
    },
    methods: {
      toggle: function() {
        if (this.isFolder) {
          this.isOpen = !this.isOpen
          localStorage.setItem(this.item.path, this.isOpen)
        }
      },
      expanded: function() {
        // Always expand the root item.
        if (this.item.path == '/') {
          localStorage.setItem(this.item.path, 'true')
          return true
        }
        // Restore expand/collapse memory from localstorage.
        // var key = localStorage.key(this.path)
        var value = localStorage.getItem(this.item.path)
        // console.log('key', this.item.path, value)
        // Hacky but useful way to generate ids from folder paths.
        // needed to use false as a str because is(visible) is serialized :/
        if (value != null && value != 'false') {
          this.isOpen = true
          return true
        }
        return false
      },
      // Drag drop file move
      drag: function(ev, draggedItem) {
        ev.dataTransfer.setData('sourcePath', draggedItem.path)
      }, // end of drag.
      drop: function(ev, droppedItem) {
        ev.preventDefault();
        self = this
        var sourcePath = ev.dataTransfer.getData('sourcePath')
        var destDir = droppedItem.path
        console.log('Moving ', sourcePath, ' to dest ', destDir)

        fetch(
          '/api/move_file?source_path=' + sourcePath + '&dest_dir=' + destDir, {
          method: 'GET',
        })
          .then(response => response.json())
          .then(result => {
            console.log('Success:', result)
            self.$emit('refreshTree')

            // Get rid of moved file if it's open in the tabs.
            let openTabPaths = (localStorage.getItem('openTabPaths') || '').split(',')
            let openTabPath = (localStorage.getItem('openTabPath') || '')
            if (openTabPaths.includes(sourcePath)) {
              console.log('moved file is among open tabs')
              let elementIndexToDelete = openTabPaths.indexOf(sourcePath)
              openTabPaths.splice(elementIndexToDelete, 1);
              localStorage.setItem('openTabPaths', openTabPaths.join(','))

              // Activate last tab in the tab bar.
              if (openTabPath == sourcePath) {
                // Is there any open tabs left? If so go for last from right.
                if (openTabPaths.length > 0) {
                  openTabPath = openTabPaths[openTabPaths.length - 1]
                } else {
                  // If not go with empty open tab path.
                  openTabPath = ''
                }
              }
              // Save open tab path to local storage.
              localStorage.setItem('openTabPath', openTabPath)
            }

            location.reload()
          })
          .catch(error => {
            console.error('Error:', error)
          }) // End of fetch.

      }, // end of drop
    },
  });

  // boot up the demo
  var demo = new Vue({
    router,
    el: "#wrapper",
    data: {
      treeData: tree,
      showSidebar: true,
      rootDirPath: rootDirPath,
      newNodeName: '',
      newNodeParentPath: '',
      query: '',
      quickSearchQuery: '',
      quickResults: [],
      
      // Settings related data. All of them enabled by default.
      settingsKatexChecked: localStorage.settingsKatex ? localStorage.settingsKatex == '1' : '1',
      settingsTaskListsChecked: localStorage.settingsTaskLists ? localStorage.settingsTaskLists == '1' : '1',
      settingsChartsChecked: localStorage.settingsCharts ? localStorage.settingsCharts == '1' : '1',
      settingsSequencesChecked: localStorage.settingsSequences ? localStorage.settingsSequences == '1' : '1',
      settingsCodeFoldingChecked: localStorage.settingsCodeFolding ? localStorage.settingsCodeFolding == '1' : '1',
      settingsEmojiChecked: localStorage.settingsEmoji ? localStorage.settingsEmoji == '1' : '1',
      settingsToolbarChecked: localStorage.settingsToolbar ? localStorage.settingsToolbar == '1' : '1',
      settingsWatchChecked: localStorage.settingsWatch ? localStorage.settingsWatch == '1' : '1',
      settingsRenderHtmlTags: localStorage.settingsRenderHtmlTags ? localStorage.settingsRenderHtmlTags == '1' : '1',
      
      // Theme settings.
      selectedGeneralTheme: (
        (localStorage.theme) ? localStorage.theme : 'dark'),
      selectedEditorTheme: (
        (localStorage.editorTheme) ? localStorage.editorTheme : 'dark'),
      selectedPreviewTheme: (
        (localStorage.previewTheme) ? localStorage.previewTheme : 
        'pastel-on-dark'),
      generalThemes: editormd.themes, 
      editorThemes: editormd.editorThemes,
      previewThemes: editormd.previewThemes,
      settingsBodyBackgroundColor: (
        (localStorage.settingsBodyBackgroundColor) ? 
        localStorage.settingsBodyBackgroundColor :
         '#373831'),
      settingsSidebarBackgroundColor: (
        (localStorage.settingsSidebarBackgroundColor) ? 
        localStorage.settingsSidebarBackgroundColor:
         '#373831'),
    },
    filters: {
      shortenTabName: function(value) {
        return value.substring(value.lastIndexOf('/')+1, value.length)
      }
    },
    created: function() {
      let self = this

      // Check for updates.
      fetch('/api/check_updates')
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log(
                'Looks like there was a problem. Status Code: ',
                response.status)
              return
            }

            response.json().then(function(data) {
              if (data.needs_update) {
                self.showUpdateModal()
              }
            })
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        })

      // alt + g focus on quick search, sublime text style.
      $(document).keydown(function (event) {
        if (!(String.fromCharCode(event.which).toLowerCase() == 'g' && 
            event.altKey) && !(event.which == 19)) return true
        event.preventDefault()
        // $('#search-field').focus()
        self.showQuickSeachResultsModal()
        return false
      })

      // alt + n create new note in the first level directory.
      $(document).keydown(function (event) {
        if (!(String.fromCharCode(event.which).toLowerCase() == 'n' && 
            event.altKey) && !(event.which == 19)) return true
        event.preventDefault()
        self.addItem('/')
        return false
      })

      // alt + h hide the sidebar.
      $(document).keydown(function (event) {
        if (!(String.fromCharCode(event.which).toLowerCase() == 'h' && 
            event.altKey) && !(event.which == 19)) return true
        event.preventDefault()
        self.showSidebar = !self.showSidebar
        return false
      })

      // Check if it's first time running pervane.
      // TODO(hakanu): this is currently not working. 
      // Find a way for security leaks of user's root dir to javascript part.
      let rootDirPathLS = (localStorage.getItem('rootDirPath') || '')
      if (rootDirPathLS != rootDirPath) {
        console.log('Running pervane from another dir so cleaning up previously opened tabs')
        
        // Clean up the previously opened tabs.
        localStorage.setItem('openTabPaths', '')
        localStorage.setItem('openTabPath', '')

        // Persist this action in localstorage for next time.
        localStorage.setItem('rootDirPath', rootDirPath)
      }

      // Start rendering previously open tabs if there is any.
      let openTabPath = (localStorage.getItem('openTabPath') || '')
      if (openTabPath != '') {
        router.push({ 
          path: '/n/' + encodeURIComponent(openTabPath) 
        })
      }
    },
    computed: {
      rootStyle: function() {
        return {
          backgroundColor: this.settingsBodyBackgroundColor,
        }
      },
      sidebarStyle: function() {
        return {
          backgroundColor: this.settingsSidebarBackgroundColor,
        }
      },
      openTabHeaders: {
        cache: false,
        get() {
          return (localStorage.getItem('openTabPaths') || '').split(',')
        }
      },
      openTabPath: {
        cache: false,
        get() {
          return (localStorage.getItem('openTabPath') || '')
        }
      },
    },
    methods: {
      addItem: function(item) {
        console.log('showing modal', item, item.path)
        this.newNodeParentPath = item.path
        $('#nodeModal').modal()
        this.newNodeName = ''
        // Hack to focus on input box upon creation.
        // Without timeout, item is not ready.
        setTimeout(function () {
          $('#modal-input-new-node-name').focus()
        }, 500)
      },
      openDir: function(item) {
        console.log('opening dir contents')
      },
      closeTab: function(path) {
        console.log('closing the tab', path)
        let openTabPaths = (localStorage.getItem('openTabPaths') || '').split(',')
        let openTabPath = (localStorage.getItem('openTabPath') || '')
        let elementIndexToDelete = openTabPaths.indexOf(path)
        if (elementIndexToDelete == -1) {
          return
        }

        openTabPaths.splice(elementIndexToDelete, 1);
        localStorage.setItem('openTabPaths', openTabPaths.join(','))

        // Activate last tab in the tab bar.
        if  (path == openTabPath) {
          if (openTabPaths.length > 0) {
            openTabPath = openTabPaths[openTabPaths.length - 1]
          } else {
            openTabPath = ''
          }
        }
        // Save open tab path to local storage.
        localStorage.setItem('openTabPath', openTabPath)

        // Recompute the computed property to reflect the removal to the tabs.
        this.$forceUpdate()

        if (openTabPath != '') {
          router.push({ 
            path: '/n/' + encodeURIComponent(openTabPath) 
          })
        } else {
          router.push({ 
            path: '/' 
          })
        }
      },
      showSettingsModal: function() {
        console.log('show settings modal')
        $('#settings-modal').modal();

        // Init settings.
        // Modal should be initialized for these.
        if (localStorage.settingsKatex) {
          $('#settings-katex')[0].checked = localStorage.settingsKatex == '1';
        }
        if (localStorage.settingsTaskLists) {
          $('#settings-task-lists')[0].checked = localStorage.settingsTaskLists == '1';
        }

        if (localStorage.settingsCharts) {
          $('#settings-charts')[0].checked = localStorage.settingsCharts == '1';
        }

        if (localStorage.settingsSequences) {
          $('#settings-sequences')[0].checked = localStorage.settingsSequences == '1';
        }

        if (localStorage.settingsCodeFolding) {
          $('#settings-code-folding')[0].checked = localStorage.settingsCodeFolding == '1';
        }

        if (localStorage.settingsEmoji) {
          $('#settings-emoji')[0].checked = localStorage.settingsEmoji == '1';
        }

        if (localStorage.settingsToolbar) {
          $('#settings-toolbar')[0].checked = localStorage.settingsToolbar == '1';
        }
      },
      showShortcutsModal: function() {
        $('#shortcuts-modal').modal();
      },
      showUpdateModal: function() {
        $('#update-modal').modal();
      },
      showQuickSeachResultsModal: function() {
        $('#quick-seach-results-modal').modal();
        $('#quick-seach-results-modal').on('shown.bs.modal', function (e) {
          $('#search-field').trigger('focus')
        })
      },
      addNode: function(newNodeName, newNodeParentPath) {
        $('#nodeModal').modal('hide')

        self = this

        // Call the API to create the new node.
        fetch('/api/add_node', {
          method: 'POST',
          headers: {
            // 'Content-Type': 'application/x-www-form-urlencoded',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            parent_path: newNodeParentPath,
            new_node_name: newNodeName,
          }),
        })
        .then(response => response.json())
        .then(result => {
          console.log('Success:', result)
          if (result.result == 'success' && result.type == 'file') {
            router.push({ 
              path: '/n/' + encodeURIComponent(result.entity) 
            })
          }
          self.refreshTree()
        })
        .catch(error => {
          console.error('Error:', error)
        })
      },
      refreshTree: function() {
        let self = this
        fetch('/api/get_tree')
          .then(
            function(response) {
              if (response.status !== 200) {
                console.log(
                  'Looks like there was a problem. Status Code: ',
                  response.status)
                return;
              }

              // Examine the text in the response
              response.json().then(function(data) {
                self.treeData = data.content
              })
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
          })
      },  // end of refreshTree.
      initSearch: function() {
        let self = this
        console.log('init searching for ', self.query)
        router.push({ path: '/s/' + encodeURIComponent(self.query) })
      },
      saveSettings: function(event, localStorageKey) {
        console.log('Saving settings for key: ', event.target.checked, 
                    localStorageKey)
        if (event.target.checked) {
          localStorage.setItem(localStorageKey, 1);
        } else {
          localStorage.setItem(localStorageKey, 0);
        }
      },
      themeSelected: function(themeKey, themeName) {
        console.log('theme selected', themeKey, themeName)
        localStorage.setItem(themeKey, themeName)
      },
      selectedTheme: function(themeKey) {
        console.log('selected theme for ', themeKey)
        return localStorage.getItem(themeKey)
      },
      saveColor: function(colorKey, colorValue) {
        localStorage.setItem(colorKey, colorValue)
      },
      doQuickSearch: function() {
        let self = this
        self.quickResults =  []

        if (!self.quickSearchQuery || self.quickSearchQuery == '') {
          self.quickResults = []
          return
        }

        // Runs 2s after the last change.
        var timeoutId;
        clearTimeout(timeoutId)
        timeoutId = setTimeout(function () {
          // https://github.com/farzher/fuzzysort.
          // TODO(hakanu): Make the threshold configurable.
          self.quickResults = fuzzysort.go(self.quickSearchQuery, values, {
            threshold: -100000})
        }, 1000)
      },
      receiveNotifyToRefreshTree: function(ev) {
        console.log('received', ev, this)
      },
    },
  });
</script>

{% endraw %}
