<!-- Sidebar -->
{% raw %}
<div class="border-right" id="sidebar-wrapper" v-if="showSidebar" v-bind:style="sidebarStyle">

  <div class="">
    <div class="float-left">
      <a href="/" style="margin: 5px; font-size: large;">Pervane</a>
    </div>

    <!-- Save/settings/shortcuts/upload -->
    <div class="float-right">
      <!-- TODO(hakanu): Removed physical save buttons, does anyone use it? -->
      <!-- <span v-if="$route.params.path.endsWith('.md')">
        <button
            class="btn btn-large" 
            @click="saveContent($route.params.path, editor.getMarkdown())">
          <i class="large-font fa fa-floppy-o" aria-hidden="true"></i>
        </button>
      </span> -->

      <!-- If it's not markdown, check if it's a code file -->
      <!-- <span v-else>
        <button
            class="btn btn-large" 
            v-if="!($route.params.path.endsWith('.jpg') ||  $route.params.path.endsWith('.mp4') || $route.params.path.endsWith('.png') || $route.params.path.endsWith('.jpeg'))"
            @click="saveContent($route.params.path, codeEditor.getValue())">
          <i class="large-font fa fa-floppy-o" aria-hidden="true"></i>
        </button>
      </span> -->

      <span>
        <button class="btn btn-large" 
            href="#" data-toggle="modal" @click="showShortcutsModal()" title="Shortcuts">
          <i class="large-font fa fa-keyboard-o" aria-hidden="true"></i>
        </button>
      </span>

      <span>
        <button class="btn btn-large fileinput-button" alt="Upload file"><i class="fa fa-upload" aria-hidden="true"></i></button>
      </span>

      <span>
        <button class="btn btn-large" 
          href="#" data-toggle="modal" @click="showSettingsModal()" title="Settings">
          <i class="large-font fa fa-gear" aria-hidden="true"></i>
        </button>
      </span>
    </div> <!-- /float-right -->
  </div> <!-- /sidebar-heading -->

  <div class="">
    <span>
      <form class="" @submit.prevent="initSearch">
        <input class="search form-control" type="text" name="query"
              v-model="query"
              placeholder="Search all notes"
              aria-label="Search">
      </form>
    </span>
  </div>
  <br>

  <div class="">
    <!-- <span>
      <input class="search form-control" id="search-field" 
              placeholder="Quick search (alt + g)" @input="doQuickSearch"
              v-model="quickSearchQuery" />
    </span> -->
    <span>
      <input class="search form-control" id="search-field" 
              placeholder="Quick search (alt + g)" @click="showQuickSeachResultsModal()" />
    </span>
  </div>

  <!-- Quick search results -->
  <!-- <div class="list-group list-group-flush">
    <a v-for="quickResult in quickResults" 
        class="list-group-item list-group-item-action bg-light">
      <router-link :to="'/n/' + encodeURIComponent(quickResult.target)">
        [{{quickResult.score}}]: {{ quickResult.target }}
      </router-link>
    </a>
  </div> -->

  <!-- File tree for real -->
  <div class="list-group list-group-flush sidebar file_tree">
    <ul id="root-ul" class="">
      <tree-item
        class="item"
        :item="treeData"
        @add-item="addItem"
        @open-dir="openDir"
      ></tree-item>
    </ul>
  </div>
</div>
<!-- /#sidebar-wrapper -->
{% endraw %}