body {
  font-family: "PT Sans", sans-serif, Menlo, Consolas, monospace;
  background-color: white;
}

.file_tree {
  overflow: auto;
  /* height: 100%; */
  /* width: 100%; */
}

.scrollable {
  /* overflow: auto; */
}

.sidebar ul {
  list-style: none;
  list-style-type: none;
  padding-left: 1.2em;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#pagination a {
  font-size: 18px;
  margin: 5px;
  padding: 5px;
}

.no-bullet {
  list-style-type: none;
}

.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
}

.profile-header {
    margin-top: 43px;
}

/**
* Ranking component
*/
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

/* like animation */
.heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}

/*!
* Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
* Copyright 2013-2020 Start Bootstrap
* Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
*/

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.8rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.list-group-item {
  padding: 8px;
}

/* Mobile media queries */
@media only screen and (max-width: 600px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .row .col-md-4 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .div-comments {
    margin-left:10px;
    margin-right:10px;
  }

  .div-footer {
    margin-left:10px;
    margin-right:10px;
  }
}

.large-font {
  font-size: 18px;
}

.small-font {
  font-size: 15px;
}

.fa {
  display: inline-block;
}

.sidebar ul {
  /* overflow-wrap: break-word; */
  word-break: keep-all;
}

.sidebar li:hover {
}

.span-item-name {  
  word-break: keep-all;
  display: inline-block;
  white-space: normal;
  white-space:nowrap;
  color: white;
}

#root-ul {
    padding-left: 0em;
}

.nav-link{
  font-size: small;
}

.nav-link.active {
  border: 2px solid red;
  border-radius: 5px;
}

.item {
  cursor: pointer;
  font-size: medium;
}

/* I see 15px wasted :P */
.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}


.nav-tabs > li .close {
  /* margin: -2px 0 0 10px; */
  margin: 10px;
  font-size: 18px;
}

.nav-tabs > li {
  margin: 5px;
}

.tabs a {
  color: white;
} 

.tabs.is-boxed a {
  border: none;
} 

.nav-tabs > li:hover {
  background-color: darkslategrey;
}

.editormd-preview, .editormd-preview-theme-dark, .markdown-body {
  font-family: "PT Sans";
}

a {
  color: lightgreen;
  font-style: bold;
}

/* Tune the dark preview for more readability */
.editormd-preview-theme-dark .editormd-preview-container p,
.editormd-preview-theme-dark .editormd-preview-container h1,
.editormd-preview-theme-dark .editormd-preview-container h2,
.editormd-preview-theme-dark .editormd-preview-container h3,
.editormd-preview-theme-dark .editormd-preview-container h4,
.editormd-preview-theme-dark .editormd-preview-container h5,
.editormd-preview-theme-dark .editormd-preview-container h6,
.editormd-preview-theme-dark .editormd-preview-container ul,
.editormd-preview-theme-dark .editormd-preview-container li,
  .editormd-preview-theme-dark .editormd-preview-container blockquote {
  color: white;
}

.editormd-preview-theme-dark .editormd-preview-container a {
  color: lightskyblue;
}

/* Collapsible sidebar */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }